################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/Cars-Hi-Octane
/bin
/Debug
/Release
/assets/shaders/compiled
/commit_hash.h
/commit_hash.txt
